{% extends "home.html" %}
{% block title %}404 Page Not Found{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Major Project <span class = "text-white-50"> - Master</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/predict">Prediction</a></li>
                {% if login  %}
                    {% if match %}
                        <li class="nav-item"><a class="nav-link" target="_blank" href={{ predictSheetLink }}>History</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link">{{username}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <p id="pageInfo" class="lead"></p>
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Looks like the page doesn't exist anymore.</p>
        <br>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>

{% endblock %}


