{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Major Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/predict">Prediction</a></li>
                {% if login  %}
                <li class="nav-item"><a class="nav-link" href={{predictSheetLink}}>History</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Envrionmental Condition Monitoring System</h1>
                    <p class="lead text-white-50 mb-4">based on Edge-Fog Computing using Machine Learning</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/predict">Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">About Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse aliquid repellat blanditiis
                    veniam ad tenetur magnam, repellendus dolores non sit impedit dolore beatae maxime totam consequatur
                    error earum voluptate.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                </div>
                <h2 class="h4 fw-bolder">About Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse aliquid repellat blanditiis
                    veniam ad tenetur magnam, repellendus dolores non sit impedit dolore beatae maxime totam consequatur
                    error earum voluptate.</p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">About Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse aliquid repellat blanditiis
                    veniam ad tenetur magnam, repellendus dolores non sit impedit dolore beatae maxime totam consequatur
                    error earum voluptate.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}