{% extends "home.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Major Project <span class = "text-white-50"> - Master</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/predict">Prediction</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form action="/login" method="POST">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login Worker</h2>
                                <p class="text-white-50 mb-5">Please enter worker email and password!</p>

                                <div class="form-outline form-white mb-4">
                                    <input name="email" placeholder="Enter email" type="email" id="typeEmailX"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input name="password" placeholder="Enter password" type="password"
                                        id="typePasswordX" class="form-control form-control-lg" />
                                </div>

                                {% if message %}
                                <div class="msg">{{ message }}</div>
                                {% endif %}


                                <input value="Login" class="btn btn-outline-light btn-lg px-5" type="submit">
                            </div>
                        </form>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="/register"
                                    class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}