{% extends "home.html" %}
{% block title %}Prediction{% endblock %}
{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <p id="pageInfo" class="lead"></p>
            <h1 class="display-1 fw-bold">Load on Worker</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> The worker node is facing some load 
            kindly redirect to this route _____.</p>
            <br>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>

{% endblock %}


