{% extends "home.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Major Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/predict">Prediction</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form action="/register" method="POST">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                                <p class="text-white-50 mb-5">Please enter your details for registration</p>
                                <div class="form-outline form-white mb-4">
                                    <input name="fullname" placeholder="Enter your Username" type="text" id="typeNameX"
                                        class="form-control form-control-lg" required />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input name="email" placeholder="Enter your Email" type="email" id="typeEmailX"
                                        class="form-control form-control-lg" required />
                                </div>
                                <div class="form-outline form-white mb-4">
                                <input name="password1" placeholder="Enter your Password" type="password"
                                    id="typePasswordX" class="form-control form-control-lg mb-4" required />
                                <input name="password2" placeholder="Confirm your Password" type="password"
                                    id="typePasswordY" class="form-control form-control-lg mb-4" required />
                                <input type="checkbox" onclick=myFunction()> Show Password
                                </div>
                                {% if message %}
                                <div class="msg">{{ message }}</div>
                                {% endif %}

                                <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Register">
                            </div>
                        </form>
                        <div>
                            <p class="mb-0">Already have an account? <a href="/login"
                                    class="text-white-50 fw-bold">login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function myFunction() {
        var x = document.getElementById("typePasswordX");
        var y = document.getElementById("typePasswordY");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>
{% endblock %}